/*coment*/
body {
    background-color:#F0FFF4 ;
    font-family:"Playfair",sans-serif ;
    text-align: center;
     
}
header{
    background-color: #01330F;
    text-align: center;
    color:#F0FFF4;
}
header img{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Roboto+Condensed",sans-serif;
    font-size: 20pt;
    text-align:center;
}
#hero,footer{
    text-align: center;
    background-color:#5AAA6F ;
    color:#F0FFF4;
    border:3px solid #01330F;
    border-radius: 50px;
    
}
#hero img{
    width:300px;
    max-width: 100%;

}
#bio{
    color:#01330F;
}
/*hobbies*/
#hobbies ul li:nth-child(odd){
color:#5AAA6F
}
#hobbies ul li:nth-child(even){
    color:#01330F
    }
/*gallary*/
#gallary, article{
    border:3px dashed #01330F;
    border-radius: 50px;
}
#gallary img{
    max-width:100%
}
#gallery figure {
text-align: center;
}
article div{
    padding:1em;
    max-width: 40rem;
    padding-left:auto;
    padding-right:auto;
    padding-top:0px;

    }
#lit p:first-letter {
    color: #01330F;
    font-size:30pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float:left;
    padding:.3em;
    border:2px double #01330F;
    box-shadow: 10px,10px,10px, black, inset;
    background-image:radial-gradient(#FFF,#01330F);
    padding-top:.1em;
}
#videoContainer{
    position: relative;
    overflow: hidden;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 56.25%;

}

#myVideo{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
}
#video{
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    width:600px;
    margin-bottom:30px;
}